<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %cyan([%-50.50class]) : %boldYellow(%msg) %n
            </pattern>
        </layout>
    </appender>

    <!--info日志文件输出-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--只拦截info日志的配置-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--匹配规则，如果匹配上（上面level配置）就否认-->
            <onMatch>DENY</onMatch>
            <!--如果匹配不上就接收-->
            <onMismatch>ACCEPT</onMismatch>
            <!--LevelFilter里的FilterReply中定义三个规则，另外有个NEUTRAL，意思是跳过这个，然后继续后面的-->
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level [%-50.50class] : %msg%n
            </pattern>
        </encoder>
        <!--滚动策略：每天滚动生成-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--保存路径-->
            <fileNamePattern>E:\workSpace\springbootTest\seller\log\info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--error日志文件输出-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level [%-50.50class] : %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--保存路径-->
            <fileNamePattern>E:\workSpace\springbootTest\seller\log\error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <root level="info">
        <!--控制台输出-->
        <appender-ref ref="consoleLog"/>
        <!--info输出-->
        <appender-ref ref="fileInfoLog"/>
        <!--error输出-->
        <appender-ref ref="fileErrorLog"/>
    </root>
</configuration>